@model SignInDTO
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="login-container">
        <h2>Welcome to BlogPost</h2>
        <form asp-controller="Account" asp-action="Login" method="POST">
            <div class="input-group">
                <label>Email</label>
                <input type="text" asp-for="Email" placeholder="Enter your email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="password" asp-for="Password" placeholder="Enter your password">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <a class="nav-link btn" asp-controller="Account" asp-action="NewUser">Don't have an account? Register Now</a>
    </div>
</body>

</html>

